/node_modules
/laradock
/public/hot
/public/storage
/public/videos
/public/streamable_videos
/public/thumbnails
/storage/*.key
/vendor
.idea
.idea/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/reports
