@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "../../node_modules/plyr/dist/plyr.css";
@import "../../node_modules/select2/dist/css/select2.css";
@import "../../node_modules/pikaday/css/pikaday.css";
@import "filepond/dist/filepond.min.css";
@import "filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css";

/*Dark mode switcher smooth transition*/
[x-cloak] {
    display: none !important;
}

.select2-dropdown {
    @apply rounded-b-lg shadow-md;
}

.select2-search {
    @apply border  rounded;
}

.select2-search__ * {
    @apply w-full border-none !important;
}

.select2-search--inline {
    @apply border-none !important;
}

.select2-search__field {
    @apply h-6 !important;
}


/*.select2-selection__choice {*/
/*    @apply relative pb-1 !important;*/
/*}*/

.select2-results__group {
    @apply text-lg font-bold text-gray-900;
}

.bg-sidebar {
    background: #3d68ff;
}

.cta-btn {
    color: #3d68ff;
}

.upgrade-btn {
    background: #1947ee;
}

.upgrade-btn:hover {
    background: #0038fd;
}

.active-nav-link {
    background: #1947ee;
}

.nav-item:hover {
    background: #1947ee;
}

.plyr-tides {
    max-height: 640px;
    max-height: 480px;

}

article ol li {
    list-style: decimal;
    margin-left: 1em;
}

article ul li {
    list-style: disc;
    margin-left: 1em;
}

.trix-content ol li {
    list-style: decimal;
    margin-left: 1em;
}

.trix-content ul li {
    list-style: disc;
    margin-left: 1em;
}

.trix-content a {
}

trix-editor {
    height: 350px !important;
    max-height: 350px !important;
    overflow-y: auto !important;
}

/*.account-link:hover {*/
/*    background: #3d68ff;*/
/*}*/
