@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '../../node_modules/select2/dist/css/select2.css';
@import '../../node_modules/pikaday/css/pikaday.css';
@import 'filepond/dist/filepond.min.css';
@import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';
@import 'vidstack/player/styles/default/theme.css';
@import 'vidstack/player/styles/default/layouts/video.css';
@import 'vidstack/player/styles/default/layouts/audio.css';

/*Dark mode switcher smooth transition*/
[x-cloak] {
  display: none !important;
}

.select2-dropdown {
  @apply shadow-md;
}

.select2-search {
  @apply rounded  border;
}

.select2-search__ * {
  @apply w-full border-none !important;
}

.select2-search--inline {
  @apply border-none !important;
}

.select2-selection--single {
  @apply h-10 !important;
  @apply align-middle !important;
  @apply py-1 !important;
}

.select2-selection__arrow {
  @apply my-1 !important;
}

.select2-search__field {
  @apply h-8 !important;
  @apply align-middle !important;
  @apply py-1 !important;
}

/*.select2-selection__choice {*/
/*    @apply relative pb-1 !important;*/
/*}*/

.select2-results__group {
  @apply text-lg font-bold text-gray-900;
}

.bg-sidebar {
  background: #3d68ff;
}

.cta-btn {
  color: #3d68ff;
}

.upgrade-btn {
  background: #1947ee;
}

.upgrade-btn:hover {
  background: #0038fd;
}

.active-nav-link {
  background: #1947ee;
}

.nav-item:hover {
  background: #1947ee;
}

article ol li {
  list-style: decimal;
  margin-left: 1em;
}

article ul li {
  list-style: disc;
  margin-left: 1em;
}

.trix-content ol li {
  list-style: decimal;
  margin-left: 1em;
}

.trix-content h1,
h2 {
  font-weight: bold;
}

.trix-content ul li {
  list-style: disc;
  margin-left: 1em;
}

.trix-content a {
}

trix-editor {
  height: 350px !important;
  max-height: 350px !important;
  overflow-y: auto !important;
}
